* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

/* colors
#76768C
#D9C2B6
#CCCCDA
#BED9B6
#808C7D
*/

/* main grid */

.main {
	display: grid;
	/* desktop view grid */
	grid-template-rows: 100vh 100vh 100vh;
	grid-template-columns: 100%;
}


/* navbar styling */

.navbar { 
	position: fixed;
	z-index: 1;
	border-bottom: 1px solid #76768C;
	left: 1rem;
	height: 100%;
	display: flex;
	align-items: center;
}

.navbar ul {
	display: flex;
	flex-direction: column;
}

.navbar ul li {
	list-style: none;
}

/* carosel styling */

.carosel {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.carosel .carosel-image {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.4;
}

.carosel .carosel-header {
	top: 5rem;
	left: 1rem;
	position: absolute;
}

.carosel .carosel-header .carosel-title {
	font-size: 5rem;
}
.carosel .carosel-header .carosel-subtitle {
	font-size: 2rem;
}



/* if we need an overlay */
/* .carosel .carosel-image .carosel-image-overlay {
	width: 100%;
	height: 100%;
	background-color: #CCCCDA;
	opacity: 0.5;
	display: none;
} */

/* project styling */

.projectContainer {
	background-color: white;
	display: grid;
	flex-direction: column;
	align-items: center;
	position: relative;
	grid-template-rows: 15% 10% 60% 15%;
	/* border-top: 5rem solid #76768C;
	border-bottom: 5rem solid #76768C; */
}

.projectContainer::before {
	content: "";
	position: absolute;
	height: 10%;
	width: 100%;
	top: 0;
	background-color: #808C7D;
	border-bottom: 2px solid #D9C2B6;
}

.projectContainer::after {
	content: "";
	position: absolute;
	height: 10%;
	width: 100%;
	bottom: 0;
	background-color: #808C7D;
	border-top: 2px solid #D9C2B6;
}

.projectContainer .project-header {
	grid-row: 2;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
	height: 8rem;
	width: 50%;
	font-size: 3rem;
	width: 100%
}

/* .projectContainer .project-header .project-image{
	position: absolute;
	height: 100%;
	width: 100%;
}

.projectContainer .project-header .project-header-text {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.8);
	top: 10%;
	left: 5%;
	height: 80%;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projectContainer .project-header .project-header-text h2 {
	display: inline-block;
	font-size: 3rem;
} */


.projectFlexBoxWrapper {
	grid-row: 3;
	width: 100%;
	display: flex;
	justify-content: center;
}

.projectFlexBox {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 60%;
}

.project {
	background-color: #D9C2B6;
	border: 1px solid #76768C;
	text-align: center;
	
	
	/* sizing for desktop - will have top add media query for mobile */
	border-radius: 3px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	height: 15rem;
	width: 12rem;
}


