* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

/* colors
#76768C
#D9C2B6
#CCCCDA
#BED9B6
#808C7D
*/

/* main grid */

.main {
	display: grid;
	/* desktop view grid */
	grid-template-rows: 37.5rem auto auto;
	grid-template-columns: 100%;
}


/* navbar styling */

.navbar { 
	background-color: #BED9B6;
	width: 100%;
	height: 2.5rem;
	position: fixed;
	z-index: 1;
	border-bottom: 1px solid #76768C;
}

.navbar ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center
}

.navbar ul li {
	list-style: none;
}

/* carosel styling */

.carosel {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.carosel .carosel-image {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.4;
}

.carosel .carosel-header {
	top: 5rem;
	left: 1rem;
	position: absolute;
}

.carosel .carosel-header .carosel-title {
	font-size: 5rem;
}
.carosel .carosel-header .carosel-subtitle {
	font-size: 2rem;
}



/* if we need an overlay */
/* .carosel .carosel-image .carosel-image-overlay {
	width: 100%;
	height: 100%;
	background-color: #CCCCDA;
	opacity: 0.5;
	display: none;
} */

/* project styling */

.projectContainer {
	background-color: white;
	border-top: 5px solid #76768C;
	justify-content: space-evenly;
}

.projectContainer .project-header {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: static;
}

.projectContainer .project-header .project-image{
	height: 8rem;
	/* position: absolute; */
	display: flex;
	justify-content: center;
}

.projectContainer .project-header .project-image .project-image-overlay {
	background-color: black;
	opacity: 0.4;
	height: 8rem;
	width: 40%;
	position: absolute;
}

.projectContainer .project-header .project-image img {
	height: 8rem;
	width: 40%;
}

.projectContainer .project-header h2 {
	display: block;
	position: absolute;
	font-size: 4rem;
	color: white;
}

.projectFlexBox {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.project {
	background-color: #CCCCDA;
	

	/* sizing for desktop - will have top add media query for mobile */
	height: 15rem;
	width: 12rem;
	border: solid #76768C;
}

