* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

/* colors
#76768C
#D9C2B6
#CCCCDA
#BED9B6
#808C7D
*/

/* main grid */

.main {
	display: grid;
	/* desktop view grid */
	grid-template-rows: 2.5rem 35rem auto auto;
}


/* navbar styling */

.navbar { 
	background-color: #76768C;
	width: 100%;
}

.navbar ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center
}

.navbar ul li {
	list-style: none;
}

/* carosel styling */

.carosel {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.carosel .carosel-overlay {
	background-color: #CCCCDA;
	opacity: 0.2;
	width: 100%;
	height: 100%;
}

.carosel .carosel-overlay img {
	width: 100%;
	z-index: -1;
}


/* project styling */

.projectContainer {
	background-color: #808C7D;
	display: grid;
	justify-content: space-evenly;

	/* grid for desktop - may have to alter for responsive mobile view */
	grid-template-rows: 3rem auto;
	grid-template-columns: auto auto auto auto;
}

.projectContainer h2 {
	grid-column: 1 / span 4;
	text-align: center;
}

.project {
	background-color: #BED9B6;
	display: block;

	/* sizing for desktop - will have top add media query for mobile */
	height: 15rem;
	width: 12rem;
	border: solid black;
}

